.myNav {
  display: flex;
  justify-content: space-around;
background: url('../media/sun.png') no-repeat;
background-size: contain;
background-position: center;
  #logo {
    position: relative;
    text-align: center;
    margin-top: 20px;
    img {
      width: 150px;
      height: 120px;
    }
    #centered {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      a {
        font-weight: bold;
        color: white;
        text-decoration: none;
        text-shadow: 5px 5px 5px black;
      }
    }
  }
}
