.post-summary {
  padding: 20px;
  margin: 20px;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.452);
  // text-shadow: 5px 5px 5px black;
  .post-title {
  color: rgb(241, 110, 62);
  margin-bottom: 30px;
  }
  .posted-by, .post-date {
  color: rgba(158, 90, 65, 0.74);
  font-size: 14px;
  }
}
