.post-summary {
  padding: 20px;
  margin: 20px;
  color: black;
  background: url("../media/wood1.jpg") no-repeat;
  color: white;
  text-shadow: 5px 5px 5px black;
  background-size: 100%;
  font-size: 24px;
}
