ul {
  display: flex;
  list-style: none;
  li {
    padding-left: 10px;
    img {
      height: 70px;
      width: 100px;
    }
  }
  #initials {
    position: relative;
    text-align: center;
    margin-left: 30px;
    img {
      width: 150px;
      height: 120px;
    }
    #centered {
      position: absolute;
      top: 37%;
      left: 35%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      a {
        font-weight: bold;
        color: white;
        text-decoration: none;
        text-shadow: 5px 5px 5px black;
      }
    }
  }
}
