#sign-container {
  position: relative;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  margin-left: 30px;
  background: url("../media/jungle.png") no-repeat;
  background-size: 80% 100%;
  background-position: center;
  img {
    width: 60vw;
    height: 75vh;
  }
  #signin-form {
    position: absolute;
    color: white;
    width: 35%;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    h3 {
        text-align: center;
    }
    .input-field {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px;
      #signin-err {
        position: absolute;
        margin-top: 40px
      }
      input {
        margin-left: 20px;
        border: 0;
        border-radius: 5px;
        width: 50%;
        padding: 5px;
      }
      button {
        font-size: 18px;
        color: rgb(255, 255, 255);
        background: rgb(197, 119, 47);
        font-weight: bold;
        margin: 8px auto;
        padding: 5px;
        width: 100%;
      }
    }
  }
}
